@import 'mixins';

// Carousel
$grayscale: 100%;
$brightness: 40%;
$transitionDuration: 3s;

carousel {
  z-index: 0;
}

img.carousel {

  // Set rules to fill background
  min-height: 100%;
  min-width: 1024px;
  
  // Set up proportionate scaling
  width: 100%;
  height: auto;
  
  // Set up positioning
  position: fixed;
  top: 0;
  left: 0;

  // opacity transition
  @include transition(opacity $transitionDuration linear);

  // set grayscale, brightness
  @include filter(grayscale($grayscale) brightness($brightness));

  // and transparent
  opacity:0;
  filter: alpha(opacity=0);
}

// except those marked opaque
img.carousel.opaque {
  opacity:1;
  filter: alpha(opacity=1);
}

// Content
$fontFamily: 'Open Sans', sans-serif;
$color: white;

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  #splash {
    text-align: center;
    margin: 30vh;
    color: $color;
    font-family: $fontFamily;
    font-weight: 700;

    :hover {
      @include transform(scale(1.02));
    }

    #name {
      font-size: 12vmin;
    }
    #caption {
      font-size: 5vmin;
      font-variant: small-caps;
    }
    #buttons {
      margin-top: 10vh;
      font-size: 3vmin;
      font-variant: small-caps;
      font-weight: 400;
      a {
        margin-top: 400px;
        margin: 0 2vmin 0 2vmin;
        padding: 0.7vmin 1.5vmin 0.7vmin 1.5vmin;
        border: 0.3vmin solid $color;
        border-radius: 2vmin;
      }
    }
  }

  // set up the container
  #container {
    background-color:rgba(255, 255, 255, 0.8);
    width: 60%;
    height: 80%;
    margin: 10vh auto;
    border-radius: 10px;
    padding: 10px;

    // transitions for hovering
    @include transition(background-color 1s linear);
  }

  // alpha = 1 on hover
  #container:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}