carousel {
  z-index: 0; }

img.carousel {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 3s linear;
  -moz-transition: opacity 3s linear;
  -ms-transition: opacity 3s linear;
  -o-transition: opacity 3s linear;
  transition: opacity 3s linear;
  -webkit-filter: grayscale(100%) brightness(40%);
  -moz-filter: grayscale(100%) brightness(40%);
  -ms-filter: grayscale(100%) brightness(40%);
  -o-filter: grayscale(100%) brightness(40%);
  filter: grayscale(100%) brightness(40%);
  opacity: 0;
  filter: alpha(opacity=0); }

img.carousel.opaque {
  opacity: 1;
  filter: alpha(opacity=1); }

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; }
  #content #menu {
    margin-top: 10vh;
    font-size: 3vmin;
    font-variant: small-caps;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif; }
    #content #menu span {
      margin-top: 400px;
      margin: 0 2vmin 0 2vmin;
      padding: 0.7vmin 1.5vmin 0.7vmin 1.5vmin;
      border: 0.3vmin solid white;
      border-radius: 2vmin;
      cursor: pointer;
      -webkit-transition: background-color 0.3s linear;
      -moz-transition: background-color 0.3s linear;
      -ms-transition: background-color 0.3s linear;
      -o-transition: background-color 0.3s linear;
      transition: background-color 0.3s linear;
      -webkit-transition: color 0.3s linear;
      -moz-transition: color 0.3s linear;
      -ms-transition: color 0.3s linear;
      -o-transition: color 0.3s linear;
      transition: color 0.3s linear; }
    #content #menu :hover {
      color: yellow;
      background-color: rgba(255, 255, 255, 0.4); }
  #content #splash {
    text-align: center;
    margin: 30vh;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }
    #content #splash #text #name {
      font-size: 12vmin;
      color: yellow; }
    #content #splash #text #caption {
      font-size: 5vmin;
      font-variant: small-caps; }
    #content #splash #text :hover {
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
      transform: scale(1.02); }
  #content #pages {
    background-color: rgba(255, 255, 255, 0.8);
    width: 60%;
    height: 80%;
    margin: 10vh auto;
    border-radius: 10px;
    padding: 10px;
    -webkit-transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    -ms-transition: background-color 1s linear;
    -o-transition: background-color 1s linear;
    transition: background-color 1s linear; }
  #content #container:hover {
    background-color: white; }
