@import 'mixins';

// Carousel
$grayscale: 100%;
$brightness: 40%;
$transitionDuration: 3s;

carousel {
  z-index: 0;
}

img.carousel {

  // Set rules to fill background
  min-height: 100%;
  min-width: 1024px;
  
  // Set up proportionate scaling
  width: 100%;
  height: auto;
  
  // Set up positioning
  position: fixed;
  top: 0;
  left: 0;

  // opacity transition
  @include transition(opacity $transitionDuration linear);

  // set grayscale, brightness
  @include filter(grayscale($grayscale) brightness($brightness));

  // and transparent
  opacity:0;
  filter: alpha(opacity=0);
}

// except those marked opaque
img.carousel.opaque {
  opacity:1;
  filter: alpha(opacity=1);
}

// Colors
$blue: #00AAEE;
$green: #0AFF00;
$yellow: #FFCC00;
$red: #FF3500;
$purple: #A300FF;

$white: white;
$black: black;

// Content

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: 'Open Sans', sans-serif;

  #menu {
    position: fixed;
    cursor: pointer;
    text-align: center;
    
    @extend .noselect;

    #social {
      margin-top: 10vh;
      .icon {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    img {
      @include transform-transition(0.5s ease-in-out);
    }
    img:hover {
      @include transform(rotate(360deg))
    }
    ul {
      color: $blue;
      list-style: none;
      background-color: rgba(0,0,0,0.5);
      text-align: left;
      padding: 0;
      font-weight: 700;
      font-size: 20px;
      hr {
        margin: 0;
      }
      li {
        padding: 10px 10px 10px 10px;
        @include transition(background-color 0.3s linear)
      }
      li:hover {
        background-color: $white;
      }
    }
  }

  #splash {
    text-align: center;
    margin: 30vh;
    color: $white;
    font-weight: 700;
    cursor: default;

    @extend .noselect;

    // name and caption
    #text {
      #name {
        font-size: 12vmin;
        color: $yellow;
      }
      #caption {
        font-size: 5vmin;
        font-variant: small-caps;
      }
      #name:hover, #caption:hover {
        @include transform(scale(1.02));
      }
    }

    // the buttons
    #buttons {
      margin-top: 15vh;
      font-size: 4vmin;
      font-weight: 700;
      text-align: center;
      color: $blue;
      span {
        margin-top: 400px;
        margin: 0 2vmin 0 2vmin;
        padding: 0.7vmin 1.5vmin 0.7vmin 1.5vmin;
        cursor: pointer;
        @include transition(color 0.3s linear);
      }
      span:hover {
        color: $yellow;
      }
    }
  }

  // content pages
  .page {
    width: 70%;
    margin: 5% 10% 0 20%;
    text-align: center;

    h1 {
      color: $yellow;
      font-variant: small-caps;
    }
    .container {
      margin-top: 2%;
      margin-bottom: 2%;
      padding: 2%;
      display: inline-block;

      h2 {
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: center;
      }
      img {
        margin-left: 20%;
        width: 60%;
        height: auto;
      }
      img.circular {
        border-radius: 60%;
      }
      img.octo {
        width: 20%;
        float: left;
        margin: 0;
        margin-right: 10%;
      }
      h3 {
        margin: 0;
        margin-top: 2%;
      }
      a {
        text-decoration: none;
        color: $black;
      }
      p.homepage {
        a {
          color: $blue;
          font-weight: 600;  
        }
        a:visited {
          color: $purple;
        }
      }
      p {
        margin: 0;
      }
      p.tagline {
        font-style: italic;
      }
    }
    .container.half-width {
      width: 40%;
      text-align: left;
      font-size: 2vmin;
      margin-right: 2%;
      margin-left: 2%;
      img.photo {
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
    .container.full-width {
      width: 96%;  
      text-align: center;
      font-size: 3vmin;
    }
    .container.backdrop {
      border-radius: 10px;
      background-color:rgba(255, 255, 255, 0.75);  
      @include transition(background-color 1s linear);
    }
    .container.backdrop:hover {
      background-color: rgba(255, 255, 255, 1);
    }
    .container.transparent {
      color: $white;
      a {
        text-decoration: none;
        color: $blue;
        font-weight: 600;
      }
      a:visited {
        color: $purple;
      }
    }
    .container.disclaimer {
      font-size: 2vmin;
    }
  }
  // page-specific styling
  #code .container {
    vertical-align: top;
  }
  #about .container {
    vertical-align: middle;
  }
  #zoom {
    position: relative;

    img {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    img.icon {
      position: absolute;
      z-index: 10;
      margin: 5%;
      opacity: 0.5;
      cursor: pointer;
      @include transition(opacity 0.3s linear);
    }
    img.icon:hover {
      opacity: 0.8;
    }
    img.icon.close {
      top: 0;
      right: 0;
      width: 50px;
    }
    img.icon.previous {
      top: 35%;
      left: 0;
      width: 40px;
    }
    img.icon.next {
      top: 35%;
      right: 0;
      width: 40px;
    }
  }
}