.noselect, #content #menu, #content #splash {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

carousel {
  z-index: 0; }

img.carousel {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 3s linear;
  -moz-transition: opacity 3s linear;
  -ms-transition: opacity 3s linear;
  -o-transition: opacity 3s linear;
  transition: opacity 3s linear;
  -webkit-filter: grayscale(100%) brightness(40%);
  -moz-filter: grayscale(100%) brightness(40%);
  -ms-filter: grayscale(100%) brightness(40%);
  -o-filter: grayscale(100%) brightness(40%);
  filter: grayscale(100%) brightness(40%);
  opacity: 0;
  filter: alpha(opacity=0); }

img.carousel.opaque {
  opacity: 1;
  filter: alpha(opacity=1); }

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: 'Open Sans', sans-serif; }
  #content #menu {
    position: fixed;
    cursor: pointer;
    text-align: center; }
    #content #menu img {
      -webkit-transition: -webkit-transform 0.5s ease-in-out;
      -moz-transition: -moz-transform 0.5s ease-in-out;
      -ms-transition: -ms-transform 0.5s ease-in-out;
      -o-transition: -o-transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out; }
    #content #menu img:hover {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg); }
    #content #menu ul {
      color: #00aaee;
      list-style: none;
      background-color: rgba(0, 0, 0, 0.5);
      text-align: left;
      padding: 0;
      font-weight: 700;
      font-size: 20px; }
      #content #menu ul hr {
        margin: 0; }
      #content #menu ul li {
        padding: 10px 10px 10px 10px;
        -webkit-transition: background-color 0.3s linear;
        -moz-transition: background-color 0.3s linear;
        -ms-transition: background-color 0.3s linear;
        -o-transition: background-color 0.3s linear;
        transition: background-color 0.3s linear; }
      #content #menu ul li:hover {
        background-color: white; }
  #content #splash {
    text-align: center;
    margin: 30vh;
    color: white;
    font-weight: 700;
    cursor: default; }
    #content #splash #text #name {
      font-size: 12vmin;
      color: #ffcc00; }
    #content #splash #text #caption {
      font-size: 5vmin;
      font-variant: small-caps; }
    #content #splash #text #name:hover, #content #splash #text #caption:hover {
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
      transform: scale(1.02); }
    #content #splash #buttons {
      margin-top: 15vh;
      font-size: 4vmin;
      font-weight: 700;
      text-align: center;
      color: #00aaee; }
      #content #splash #buttons span {
        margin-top: 400px;
        margin: 0 2vmin 0 2vmin;
        padding: 0.7vmin 1.5vmin 0.7vmin 1.5vmin;
        cursor: pointer;
        -webkit-transition: color 0.3s linear;
        -moz-transition: color 0.3s linear;
        -ms-transition: color 0.3s linear;
        -o-transition: color 0.3s linear;
        transition: color 0.3s linear; }
      #content #splash #buttons span:hover {
        color: #ffcc00; }
  #content .page {
    width: 70%;
    margin: 5% 10% 0 20%;
    text-align: center; }
    #content .page h1 {
      color: #ffcc00;
      font-variant: small-caps; }
    #content .page .container {
      margin-top: 2%;
      margin-bottom: 2%;
      padding: 2%;
      display: inline-block; }
      #content .page .container h2 {
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: center; }
      #content .page .container img {
        margin-left: 20%;
        width: 60%;
        height: auto; }
      #content .page .container img.circular {
        border-radius: 60%; }
      #content .page .container img.octo {
        width: 20%;
        float: left;
        margin: 0;
        margin-right: 10%; }
      #content .page .container h3 {
        margin: 0;
        margin-top: 2%; }
      #content .page .container a {
        text-decoration: none;
        color: black; }
      #content .page .container p.homepage a {
        color: #00aaee;
        font-weight: 600; }
      #content .page .container p.homepage a:visited {
        color: #a300ff; }
      #content .page .container p {
        margin: 0; }
      #content .page .container p.tagline {
        font-style: italic; }
    #content .page .container.half-width {
      width: 40%;
      text-align: left;
      font-size: 2vmin;
      margin-right: 2%;
      margin-left: 2%; }
    #content .page .container.full-width {
      width: 96%;
      text-align: center;
      font-size: 3vmin; }
    #content .page .container.backdrop {
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.75);
      -webkit-transition: background-color 1s linear;
      -moz-transition: background-color 1s linear;
      -ms-transition: background-color 1s linear;
      -o-transition: background-color 1s linear;
      transition: background-color 1s linear; }
    #content .page .container.backdrop:hover {
      background-color: white; }
    #content .page .container.transparent {
      color: white; }
      #content .page .container.transparent a {
        text-decoration: none;
        color: #00aaee;
        font-weight: 600; }
      #content .page .container.transparent a:visited {
        color: #a300ff; }
  #content #code .container {
    vertical-align: top; }
  #content #about .container {
    vertical-align: middle; }
