<div id="zoom" class="page">
	<div class="container full-width backdrop">
		<img exif="imagedata" ng-src="{{photo}}" ng-click="next()">
		<div class="data" ng-show="showData">
			<p>Model: {{imagedata.Model}}</p>
			<p>Focal Length: {{ calc(imagedata.FocalLength) }}mm</p>
			<p>Aperture: f/{{ calc(imagedata.FNumber) }}</p>
			<p>Shutter Speed: {{ shutter(imagedata.ExposureTime) }}</p>
			<p>ISO: {{ imagedata.ISOSpeedRatings }}</p>
		</div>
		<img class="icon close" src="img/icons/zoom/close.png" ng-click="close()">
		<img class="icon previous" src="img/icons/zoom/previous.png" ng-click="previous()">
		<img class="icon next" src="img/icons/zoom/next.png" ng-click="next()">
		<img class="icon info" src="img/icons/zoom/info.png" ng-click="showData = !showData">
	</div>
</div>