<div id="menu">
	<img id="logo" src="img/icons/icon.png" ng-click="home()" width="100" height="100">
	<ul>
		<li ng-click="info('about')">About</li>
		<hr>
		<li ng-click="info('code')">Code</li>
		<hr>
		<li ng-click="info('photography')">Photography</li>
		<hr>
		<a href="resume.pdf"  target="_blank"><li>Resume</li></a>
	</ul>
	<div id="social">
		<div class="icon"><a href="http://www.facebook.com/charlie.proctor2"><img src="img/icons/social/facebook.png" height="40"></a></div>
		<div class="icon"><a href="https://www.linkedin.com/in/charlierproctor"><img src="img/icons/social/linkedin.png" width="40"></a></div>
		<div class="icon"><a href="http://www.github.com/charlierproctor"><img src="img/icons/social/github.png" width="40"></a></div>
		<div class="icon"><a href="mailto:charlie@charlieproctor.com"><img src="img/icons/social/mail.png" width="40"></a></div>
	</div>
</div>